@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: black;
}

h1 {
    font-family: 'Bungee', sans-serif;
    color: aliceblue;
    font-size: 110px;
    margin-left: 120px;
}

.highlight {
    color: rgb(15, 41, 154);
}

img {
    position: absolute;
    top: 300px;
    right: 100px;
}

.login-box {
    background-color: rgb(4, 28, 132);
    padding: 20px 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    width: fit-content;
    font-family: 'Roboto', sans-serif;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.form-row label {
    width: 70px;
    text-align: right;
    font-weight: bold;
}

.form-row input {
    padding: 8px 12px;
    border: none;
    border-radius: 15px;
    width: 150px;
}

html {
    scroll-behavior: smooth;
}